<!-- <h5>Días que atiende el profesional: </h5>
 <div class="col-md-6">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-outline-success active">
        <input type="checkbox" name="lun" id="option1" autocomplete="off"
          (click)="dia('Lunes')" value="1" checked> Lunes
      </label>
      <label class="btn btn-outline-success">
        <input type="checkbox" name="mar" id="option2" autocomplete="off"
          (click)="dia('Martes')" value="2">Martes
      </label>
      <label class="btn btn-outline-success">
        <input type="checkbox" name="mie" id="option3" autocomplete="off"
          (click)="dia('Miercoles')" value="3">Miércoles
      </label>
      <label class="btn btn-outline-success">
        <input type="checkbox" name="jue" id="option4" autocomplete="off"
          (onClick)="dia('Jueves')" value="4">Jueves
      </label>
      <label class="btn btn-outline-success">
        <input type="checkbox" name="vie" id="option5" autocomplete="off"
          (click)="dia('Viernes')" value="5">Viernes
      </label>
      <label class="btn btn-outline-success">
        <input type="checkbox" name="sab" id="option6" autocomplete="off"
          (click)="dia('Sabado')" value="6">Sábado
      </label>
    </div>
  </div> -->




  <table class="table table-sm table-bordered">
    <thead>
      <tr>
        <th scope="col" colspan="2">Días que atiende el profesional:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Lunes</td>
        <td><input type="checkbox" name="" id="" (click)="dia('Lunes')"></td>
      </tr>
      <tr>
        <td>Martes</td>
        <td><input type="checkbox" name="" id="" (click)="dia('Martes')"></td>
      </tr>
      <tr>
        <td>Miércoles</td>
        <td><input type="checkbox" name="" id="" (click)="dia('Miercoles')"></td>
      </tr>
      <tr>
        <td>Jueves</td>
        <td><input type="checkbox" name="" id="" (click)="dia('Jueves')"></td>
      </tr>
      <tr>
        <td>Viernes</td>
        <td><input type="checkbox" name="" id="" (click)="dia('Viernes')"></td>
      </tr>
      <tr>
        <td>Sábado</td>
        <td><input type="checkbox" name="" id="" (click)="dia('Sabado')"></td>
      </tr>
    </tbody>
  </table>
