<div class="container" style="align-items: center; justify-items: center;">
    <div class="card-body">
        <div class="row">
            <div [hidden]="usuarioActual.estado">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="../../../assets/images/error.png" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Todavía falta verificar tu cuenta de usuario!</h5>
                                <p class="card-text">Recordá que es necesario que te contactes con un administrador para
                                    que
                                    active tu cuenta y puedas empezar a anteder.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div *ngIf="usuarioActual.estado" class="row">
    <div class="col-sm-6">
        <div class="card bg-info">
            <div appMiDirectiva="springgreen" class="card-body"  (click)="verTurnos()">
                <h5 class="card-title text-white">Ver Turnos</h5>
                <p class="card-text">Desde este menu podrá acceder al listado de turnos con todos los datos pertinentes, simular la atención de un turno, o rechazarlo.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card bg-info">
            <div appMiDirectiva="springgreen" class="card-body" (click)="buscarTurnos()">
                <h5 class="card-title text-white">Buscar Turnos</h5>
                <p class="card-text">Permite realizar una búsqueda de turnos de manera dinámica, es decir selccionando libremente el campo por el cual se desea filtrar.</p>
            </div>
        </div>
    </div>



</div>