<div class="row">
  <div class="col-sm-6">
    <div class="card bg-info">
      <div class="card-body" (click)="verProfesionales()">
        <h5 class="card-title text-white">Ver Profesionales</h5>
        <p class="card-text">Desde este menu podrá acceder al listado de profesionales para darlos de alta.</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card bg-info">
      <div class="card-body" (click)="registrarAdmin()">
        <h5 class="card-title text-white">Registrar Administrador</h5>
        <p class="card-text">Desde este menu podrá redirigirse al registro para dar de alta un nuevo administrador.</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>
  <!-- <div class="col-sm-6" style="margin-top: 2%;">
    <div class="card bg-info">
        <div class="card-body" (click)="buscarTurnos()">
            <h5 class="card-title text-white">Buscar Turnos</h5>
            <p class="card-text">Permite realizar una búsqueda de turnos de manera dinámica, es decir selccionando libremente el campo por el cual se desea filtrar.</p>
        </div>
    </div>
</div> -->
  <div class="col-sm-6" style="margin-top: 2%;">
    <div class="card bg-info">
      <div class="card-body" (click)="aInformes()">
        <h5 class="card-title text-white">Informes</h5>
        <p class="card-text">Desde este menu podrá acceder a gráficos estadísticos y descargar informes.</p>
      </div>
    </div>
  </div>
  

  </div>