<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #addaff;">
    <a class="navbar-brand" href="#">
        <img src="../../../assets/images/loguito.png" width="40" height="40" class="d-inline-block align-top" alt="">
      </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Turnos OnLine</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Listados
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Especialidades</a>
            <a class="dropdown-item" href="#">Profesionales</a>
            <a class="dropdown-item" href="#">Pacientes</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 mr-sm-2" routerLink="/Login" type="submit">Ingresar</button>
        <button class="btn btn-outline-danger my-2 my-sm-0" routerLink="/Registro" type="submit">Registrarse</button>
      </form>
    </div>
  </nav>