<div class="imagen">
    <img src="../../../assets/images/historias.jpg" alt="Nosotros" style="max-width: 100%;">
</div>


<div class="card mb-3" style="max-width: 100%;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="../../../assets/images/logoTransparente.jpeg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title text-center">¿Quiénes somos?</h3>
                <p class="card-text">Somos un equipo de Profesionales de reconocido prestigio Nacional e Internacional.
                    Hemos emprendido un ansiado proyecto: crear una Institución Médica
                    donde la excelencia profesional y humana sea nuestra meta, para que el paciente, encuentre en ella
                    la solución más eficaz y eficiente a su problema, brindándole en todo momento calidez en el trato y
                    un ambiente confortable.</p>
                <p class="card-text">Para dicho objetivo, contamos con un excelente equipo Médico Profesional
                    especializado en las
                    distintas áreas de la Medicina, modernas instalaciones con todo el confort, equipamientos de
                    diagnóstico de última generación, sistema de historias clínicas digitales, con fotografía del
                    paciente, lo que asegura un elevado estándar de seguridad, tanto en los procedimientos quirúrgicos,
                    como en los de diagnóstico.</p>
                <p class="card-text">Nuestra área quirúrgica consta de dos quirófanos para cirugías de
                    alta complejidad,
                    habitación de recuperación anestésica y un amplio sector para pacientes en cirugía ambulatoria.</p>
                <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
        </div>
    </div>
</div>