<div class="row">
    <div class="col-sm-6">
        <div class="card bg-info">
            <div class="card-body" (click)="solicitarTurno()">
                <h5 class="card-title text-white">Solicitar Turno</h5>
                <p class="card-text">Desde este menu podrá solicitar un nuevo turno con alguno de nuestros especialistas.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card bg-info">
            <div class="card-body" (click)="verTurnos()">
                <h5 class="card-title text-white">Ver mis turnos</h5>
                <p class="card-text">Desde este menu podrá redirigirse al calendario de turnos para ver cuándo debería concurrir al establecimiento.</p>
            </div>
        </div>
    </div>


</div>