<table class="table">
    <thead class="thead-light">
      <tr>
          <th scope="col">Día</th>
          <th scope="col">Hora</th>
          <th scope="col">Especialidad</th>
          <th scope="col">Paciente</th>
          <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listadoTurnos" >
          <td>{{item.dia}}</td>
          <td>{{item.horario}}</td>
          <td>{{item.especialidad.descripcion}}</td>
          <td>{{item.paciente.apellido}}, {{item.paciente.nombre}}</td>
        <td>{{item.estado}}</td>
        <div *ngIf="item.estado=='PENDIENTE'">
            <td>
                <button class="btn btn-outline-success btn-sm" name="" id="" (click)="atender(item)">Atender</button>
            </td>
            <td>
                <button class="btn btn-outline-danger btn-sm" name="" id="" (click)="rechazarTurno(item)">Rechazar</button>
            </td>
        </div>

        <!-- FALTA -->

        <div *ngIf="item.estado=='ATENDIDO' && item.comentPaciente">
            <td>
                <button class="btn btn-outline-primary btn-sm" name="" id=""(click)="verDetalle(item)">Ver Detalle</button>
            </td>
        </div>

      </tr>
    </tbody>
  </table>