<app-navbar></app-navbar>

<app-cabecera></app-cabecera>


<div class="card-group">
  <div class="card text-center"  style="background-color: #006993">
    <div class="card-body">
      <a routerLink="/Registro"><h5 class="card-title">Quiero ser socio</h5></a>
    </div>
  </div>
  <div class="card text-center" style="background-color: #0ba3cd">
    <div class="card-body">
      <a href="#quienes"><h5 class="card-title">Más sobre nosotros</h5></a>
    </div>
  </div>
  <div class="card text-center" style="background-color: #01C8FF;">
    <div class="card-body">
      <a href=""><h5 class="card-title">Gestión OnLine</h5></a>
    </div>
  </div>
  <div class="card text-center" style="background: rgba(0, 228, 255, 1);">
    <div class="card-body">
      <a href=""><h5 class="card-title">Cartilla Médica</h5></a>
    </div>
  </div>
</div>




<div class="card-group">

<div class="card border-light mb-3 text-center">
  <!-- <div class="card-header">Header</div> -->
  <div class="card-body">
    <h5 class="card-title tel" style="color: rgb(39, 219, 23);">ASISTENCIA MÉDICA</h5>
    <p class="card-text telefonos"><img src="../../../assets/images/wp-icono.png" alt="">   11.4872.9100</p>
    <p class="card-text telefonos"><img src="../../../assets/images/tel-icono.png" alt="">   0810.888.7788</p>
    <p class="card-text telefonos"><img src="../../../assets/images/tel-icono.png" alt="">   0810.999.6300</p>
  </div>
</div>

<div class="card border-light mb-3 text-center">
  <!-- <div class="card-header">Header</div> -->
  <div class="card-body">
    <h5 class="card-title tel" style="color:lightseagreen">ATENCIÓN AL SOCIO</h5>
    <p class="card-text telefonos"><img src="../../../assets/images/wp-icono.png" alt="">   11.4872.9000</p>
    <p class="card-text telefonos"><img src="../../../assets/images/tel-icono.png" alt="">   0810.555.6733</p>
    <p class="card-text telefonos">LUNES A VIERNES DE 9 A 20</p>
  </div>
</div>

<div class="card border-light mb-3 text-center">
  <!-- <div class="card-header">Header</div> -->
  <div class="card-body">
    <h5 class="card-title tel" style="color: rgb(177, 20, 20);" >RIESGO DE VIDA</h5>
    <p class="card-text telefonos"><img src="../../../assets/images/tel-icono.png" alt="">   0810.666.1111</p>
  </div>
</div>


</div>


<div id="quienes">
<app-quienes-somos></app-quienes-somos>
</div>


<footer class="footer mt-auto py-3">
  <div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
      <span class="text-muted">Trabajo Práctico Final: Clínica Online - Milagros Pielvitori - UTN FRA</span>
    </div>

  </div>
</footer>
<!-- 
<footer>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <p>Clínica Online - Trabajo Final - Milagros Pielvitori</p>
    </div>
  </div>
  
</footer> -->