<!doctype html>
<html lang="en">

    <app-navbar></app-navbar>

<body>

  <main class="login-form">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header" style="text-align: center;">
              <div class="col-xs-11 h3">Registrate</div>
            </div>
            <div class="card-body">
              <form action="" name="juego" method="">

                <div class="form-group row">
                  <label for="nombre" class="col-md-4 col-form-label text-md-right">Nombre:</label>
                  <div class="col-md-6">
                    <input type="text" id="nombre" class="form-control"
                      placeholder="Nombre" name="nombre" style="width:50%"/>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="apellido" class="col-md-4 col-form-label text-md-right">Apellido:</label>
                  <div class="col-md-6">
                    <input type="text" id="apellido" class="form-control"
                      placeholder="Apellido" name="apellido" style="width:50%"/>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="email" class="col-md-4 col-form-label text-md-right">Mail:</label>
                  <div class="col-md-6">
                    <input type="text" id="email" class="form-control"
                      placeholder="Mail" name="email" style="width:50%"/>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="contraseña" class="col-md-4 col-form-label text-md-right">Contraseña:</label>
                  <div class="col-md-6">
                    <input type="text" id="contraseña" class="form-control"
                      placeholder="Contraseña" name="contraseña" style="width:50%"/>
                  </div>
                </div>



                

                <div class="form-group row">
                  
                  <div class="col-md-6 offset-md-4">
                    <h2><button class="btn btn-success btn-lg"
                        >Verificar </button></h2>
                    <!-- <h2><button class="btn btn-info btn-lg">Nuevo número secreto</button></h2> -->
                  </div>
                </div>

                
                
            </form>
        </div>
    </div>
</div>
</div>
</div>

</main>

</body> 
</html>

<!-- <div class="contenedor">
    <div class="contenedor_formulario">
      <h1 class="is-size-1">Subir archivos a Cloud Storage</h1>
      <p class="download">URL de descarga: <a href="#" target="_blank">Descargar</a></p>
      <form>
        <div class="file has-name is-boxed">
          <label class="file-label">
            <input class="file-input" type="file" name="resume">
            <span class="file-cta">
              <span class="file-label">
                Elegir un archivo…
              </span>
            </span>
            <span class="file-name">
              No hay un archivo seleccionado
            </span>
          </label>
        </div>
        <hr>
        <progress class="progress is-large is-success" value="0" max="100">0%</progress>
        <button class="button is-success is-large">Subir archivo</button>
      </form>
    </div>
  </div> -->

